<mat-toolbar color="primary">
    <h1>{{ title }}</h1>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/home'">
                <h4 mat-line>Home</h4>
            </a>
            <a mat-list-item [routerLink]="'/clientes'">
                <h4 mat-line>Clientes</h4>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>